.button-container {
      text-align: center;
        margin-bottom: 10px;
        }

        .button {
          padding: 10px 20px;
            font-size: 16px;
              background-color: #4CAF50;
                color: white;
                  border: none;
                    cursor: pointer;
                      margin-right: 10px;
                      }

                      #counter {
                        text-align: center;
                          font-size: 20px;
                          }

                          #gif-container {
                            text-align: center;
                              margin-top: 20px;
                              }
                              
}
